@import 'utility.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2F2;

}
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
body.skills{
    color: var(--dark);
}
.scroll-hide{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.scroll-hide::-webkit-scrollbar {
    display: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
header{
    color: var(--dark);
    background-color: var(--dark);
}
header.main{
    clip-path: polygon(0 0%,100% 0,100% 100%,75% 90%,0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 2rem 15px;
    margin: 0 auto;

}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
}
header nav .left a:hover{
    color: var(--primary);
    transition: all .3ms ease;
}
header nav{
    padding: 2rem 0 0 0;
}
.home{
    padding: 8rem 0;
}
.home .left img{
    width: 500px;
    height: auto;    
}
.home .right{
    color: var(--pure);
}
.home .right h3{
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 0.5rem;

}
.home .right h1{
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 2rem;
    color: var(--pure);
}
.home .right h1 span{
    color: var(--primary);
}
.home .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
section{
    padding: 6rem 0;
}
section.about .about-img img{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--light);
}
section.about h1 span{
    color: var(--primary);
}

section.about h3{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--ternary);
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;  
    margin-right: 0.6rem;
    transition: all .3s ease;
}
section.about .social a:hover{
    color: var(--primary);
    background-color: var(--light);
}
section.about .social a img{
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-linkedin {
background: #007bb5;
color: white;
}
.fa-youtube {
background: #bb0000;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
section.about{
    background: var(--dark);
}
section.skills{
    background: var(--dark);
    padding: 0;
}
.section-heading{
    color: var(--dark);
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 3rem;
    line-height: 0.5;
}
.section-heading{
    color: var(--light);
}
.section-heading span{
    color: var(--primary);
}
section.skills .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    margin-bottom: 8rem;
}
section.skills .card-wrapper .card{
    background-color: var(--light);
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
}
section.skills .card-wrapper .card img{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
section.skills .card-wrapper .card h2{
    font-weight: 400;
    font-size: large;
    margin-bottom: 00.5rem;
}
section.skills .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.skills .card-wrapper .card:hover{
    background-color: rgba(100, 100,100,0.6);
}
section.skills .card-wrapper .card:hover h2{
    color: var(--primary);
}
section.skills .card-wrapper .card:hover p{
    color: var(--pure);
}