.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.btn{
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3ms ease;
}
.btn-primary{
    background: var(--primary);
    color: var(--dark);
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-secondary{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-secondary:hover{
    background: var(--primary);
    color: var(--dark);
}
.flex1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}
.rw-wrapper{
	width: 80%;
	position: relative;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color:var(--primary);
	white-space: nowrap;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color:var(--primary);
}
.rw-words-2 span{
	animation: rotateWordsSecond 10.5s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
	animation-delay: 3.5s; 
	color: var(--pure);
}
.rw-words span:nth-child(3) { 
	animation-delay: 7s; 
	color: var(--primary);	
}
.rw-words span:nth-child(4) { 
	animation-delay: 10.5s; 
	color: var(--pure);
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    40% { opacity: 1; width: 100%; }
    45% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}